* {
    font-family: "aileron", sans-serif;
}

body {
    height: auto;
}

header {
    margin-top: 30px;
    height: 80px;
    width: 100%;
    background-color: white;
    border-style: none ! important;
}

p {
    line-height: 25px;
}

.home_button {
    display: inline;
    float: left;
    position: relative;
    left: 25px;
    top: 10px;
}

.search_button {
    display: inline;
    float: right;
    position: relative;
    right: 40px;
    top: 10px;
}

.profile_button {
    display: inline;
    float: right;
    position: relative;
    right: 25px;
    top: 10px;
}

.profile_card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #EDEDED;
    position: relative;
    right: 475px;
    top: 30px;
    border-radius: 25px;
    border-style: none ! important;
    border-right: 1px solid;
    line-height: 95px;
    height: 800px;
    color: #008037;
}



.user_icon {
    position: relative;
    top: 60px;
}

h1 {
    position: relative;
    top: 43px;
    font-weight: 900;
    font-style: normal;
    color: #008037;
    font-size: 24px;
}

.user_caption {
    position: relative;
    font-family: "aileron", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    margin-bottom: 5px;

}

.recommendations {
    max-width: 300px;
    margin: auto;
    border-radius: 25px;
    position: relative;
    left: -120px;
    bottom: 720px;
}

.thumbs_up {
    position: relative;
    left: 10px;
    top: 7.5px;
}

.recom_text {
    position: relative;
    left: 35px;
    bottom: 10px;
    color: black;
}

.posts {
    max-width: 500px;
    min-height: 100px;
    margin: auto;
    background-color: #EDEDED;
    border-radius: 25px;
    position: relative;
    left: -10px;
    bottom: 695px;
}

.date_edit_delete {
    display: flex;
    flex-direction: row;
}

.edit {
    height: 4.2%;
    width: 4.2%;
    position: relative;
    left: 320px;
    top: 20px;
}

.delete {
    height: 3.8%;
    width: 3.8%;
    position: relative;
    left: 320px;
    top: 19px;
}

.post_date {
    color: rgba(243, 54, 54, 0.915);
    position: relative;
    left: 20px;
    top: 10px;
}

.post_text {
    color: black;
    position: relative;
    left: 20px;
    top: 5px;
    white-space: normal;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: small;
}


.res_review {
    color: black;
    position: relative;
    left: 320px;
    bottom: 15px;
    font-family: "aileron", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: small;
    float: inline-end;
}


/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}